.grafico-wrapper {
  display: flex;
  justify-content: center;
}

canvas {
  max-width: 100%;
  height: auto !important;
}

@media (max-width: 576px) {
  .grafico-progreso {
    width: 100%; 
    height: 500px !important;
  }
}