<h2 class="sociohome__accionrapidaseccion__titulo">Acciones rápidas</h2>

<div class="sociohome__accionrapidaseccion__contenedor">
  <app-sociohome-accionrapidaseccion-tarjeta
    imagenSrc="assets/img/icons/ranking.png"
    titulo="Ranking"
    descripcion="Compara tu progreso con otros miembros"
    ruta="/ranking"
  ></app-sociohome-accionrapidaseccion-tarjeta>
  <app-sociohome-accionrapidaseccion-tarjeta
    imagenSrc="assets/img/icons/agregar.png"
    titulo="Rutinas"
    descripcion="Crea y administra tus rutinas de entrenamiento"
    ruta="/rutinas"
  ></app-sociohome-accionrapidaseccion-tarjeta>
  <app-sociohome-accionrapidaseccion-tarjeta
    imagenSrc="assets/img/icons/lista.png"
    titulo="Mis Rutinas"
    descripcion="Visualiza y sigue tus rutinas personalizadas"
    ruta="/mis-rutinas"
  ></app-sociohome-accionrapidaseccion-tarjeta>
  <!-- logros -->
  <app-sociohome-accionrapidaseccion-tarjeta
    imagenSrc="assets/img/icons/logros.png"
    titulo="Logros"
    descripcion="Revisa los logros que has desbloqueado"
    ruta="/logros"
  ></app-sociohome-accionrapidaseccion-tarjeta>
</div>
