 .sociohome__accionrapidaseccion__contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
 }

 .sociohome__accionrapidaseccion__titulo{
      font-size: 18px;
      font-weight: bold;
      text-align: center;
 }