.historial-container {
  background: black;
  max-width: 950px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 16px;
}

.titulo {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #fff;
}
.swal-fit-popup {
  border-radius: 1.2rem !important;
  padding: 1.8rem !important;
  font-family: 'Poppins', sans-serif;
}

.swal-fit-title {
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  color: #8b52ff !important;
}

  .titulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: linear-gradient(90deg, #7b3fe4, #a586ff);
    margin: 10px auto 0;
    border-radius: 3px;
  }

.entrenamiento-card {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

  .entrenamiento-card:hover {
    transform: translateY(-3px);
  }

.info-header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  color: white;
  margin-bottom: 0.8rem;
}

  .info-header h6,
  .info-header .puntos,
  .info-header .fecha {
    margin: 0;
    text-align: center;
    padding: 0 5px;
  }

.btn-fitrank {
  background: #7b3fe4;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 0.5rem;
}

  .btn-fitrank:hover {
    background: #9e6cff;
    transform: scale(1.03);
  }

@media (max-width: 768px) {
  .info-header {
    flex-direction: column;
    align-items: center;
  }

  .btn-fitrank {
    width: 100%;
  }
}
