<div class="min-h-screen flex flex-col items-center justify-center bg-gradient-to-b from-gray-100 to-white text-center px-4">
  <h1 class="text-3xl font-bold text-gray-800 mb-3">Bienvenido a FitRank Gym</h1>

  <p class="text-gray-600 mb-6 max-w-md">
    Si ya sos socio, iniciá sesión para acceder a tus entrenamientos y ranking.
    Si aún no tenés una cuenta, solicitá tu invitación en recepción.
  </p>

  <button (click)="irLogin()"
          class="bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-6 rounded-xl shadow-md transition">
    Iniciar sesión
  </button>

</div>
