<div class="layout-wrapper">
  <aside class="layout-sidebar">
    <app-sidebar></app-sidebar>
  </aside>

  <section class="layout-main">
    <header class="layout-header">
  
      <button class="btn-logout mt-2 btn-secondary" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        Salir
      </button>
    </header>

    <div *ngIf="loadingTabs" class="loading-container">
      <div class="loading-box">
        <img src="assets/img/logo/logo-negro-lila.svg"
             alt="FitRank Logo"
             class="loading-logo mb-3">
        <div class="loading-dots text-fitrank">
          Cargando<span class="dots"></span>
        </div>
      </div>
    </div>

    <main class="layout-content" *ngIf="!loadingTabs" class="fade-in">
      <router-outlet></router-outlet>
    </main>

  </section>
</div>
