<div class="logros-admin-wrapper">

  <h1 class="text-titulo fw-bold mb-4">GESTIÓN DE LOGROS</h1>

  <!-- CONTENEDOR PRINCIPAL -->
  <div class="contenedor-tabla">
    <div class="encabezado-tabla">
      <div>
        <h3>Listado completo del sistema</h3>
      </div>
      <span class="badge-activos">• Configuración</span>
    </div>

    <!-- TABLA -->
    <table class="tabla-logros">

      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Activo en gimnasio</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let logro of logros">
          <td>{{ logro.nombre }}</td>
          <td>{{ logro.descripcion }}</td>

          <!-- TOGGLE -->
          <td>
            <label class="switch">
              <input
                type="checkbox"
                [checked]="logro.estaHabilitado"
                (change)="onToggleEstado(logro)"
              />
              <span class="slider"></span>
            </label>
          </td>
        </tr>
      </tbody>

    </table>

  </div>

</div>
