.home__accionrapidatarjeta__ancla {
    text-decoration: none;
    color: inherit;
}

.home__accionrapidatarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 5px;
    border: 2px solid var(--color-acento);
    padding: 10px;
    border-radius: 10px;
}

.home__accionrapidatarjeta:hover {
    border: 2px solid var(--color-acento-secundario);
    transition: all;
    transition: border 0.3s ease;

}


.home__accionrapidatarjeta__imagen {
    width: 50px;
    height: 50px;
    object-fit: cover;
    filter: invert(39%) sepia(83%) saturate(749%) hue-rotate(234deg) brightness(95%) contrast(90%);

}

.home__accionrapidatarjeta__titulo {
    font-size: 1.3em;
    margin: 0;
    text-align: start;
    color: var(--color-acento-secundario);

}

.home__accionrapidatarjeta__descripcion {
    margin: 0;
    text-align: start;
}

.home__accionrapidatarjeta__flecha {
    width: 30px;
    height: 30px;
    object-fit: cover;
    filter: invert(39%) sepia(83%) saturate(749%) hue-rotate(234deg) brightness(95%) contrast(90%);
}