<a routerLink="{{ ruta() }}" class="home__accionrapidatarjeta__ancla">
  <div class="home__accionrapidatarjeta">
    <div>
      <img src="{{ imagenSrc() }}" alt="asd" class="home__accionrapidatarjeta__imagen" />
      <h2 class="home__accionrapidatarjeta__titulo">{{ titulo() }}</h2>
      <p class="home__accionrapidatarjeta__descripcion">{{ descripcion() }}</p>
    </div>
    <img
      src="assets/img/icons/flecha-der.png"
      alt="flecha"
      class="home__accionrapidatarjeta__flecha"
    />
  </div>
</a>