<div class="sociohome__tarjetaperfil">
  <img
    src="assets/img/perfil-placeholder.webp"
    alt="Perfil"
    class="sociohome__tarjetaperfil__image"
  />
  <div class="sociohome__tarjetaperfil__info">
    <h2 class="sociohome__tarjetaperfil__nombre">Juan Perez</h2>
    <div class="sociohome__tarjetaperfil__contenedorInfo">
      <div class="sociohome__tarjetaperfil__contenedorInfoBasica">
        <p class="sociohome__tarjetaperfil__puntaje">Puntaje: 100</p>
        <p class="sociohome__tarjetaperfil__posicion">Posicion: 5</p>
      </div>
      <div class="sociohome__tarjetaperfil__contenedorMiniTarjetasInfo">
        <app-sociohome-targetaperfil-minitarjetainfo
          imagen="assets/img/icons/diasactivos.png"
          titulo="24"
          texto="Días activo"
        ></app-sociohome-targetaperfil-minitarjetainfo>
        <app-sociohome-targetaperfil-minitarjetainfo
          imagen="assets/img/icons/entrenamientos.png"
          titulo="35"
          texto="Entrenamientos"
        ></app-sociohome-targetaperfil-minitarjetainfo>
        <app-sociohome-targetaperfil-minitarjetainfo
          imagen="assets/img/icons/progreso.png"
          titulo="%23"
          texto="Progreso"
        ></app-sociohome-targetaperfil-minitarjetainfo>
        
      </div>
    </div>
  </div>
</div>
