<div class="human-body-svg">
  <svg viewBox="0 0 200 400" xmlns="http://www.w3.org/2000/svg">

    <!-- Pecho -->
    <path id="chest" class="muscle" d="M80 80 L120 80 L120 130 L80 130 Z" />

    <!-- Bíceps izquierdo -->
    <path id="biceps_left" class="muscle" d="M60 100 L80 100 L80 160 L60 160 Z" />

    <!-- Bíceps derecho -->
    <path id="biceps_right" class="muscle" d="M120 100 L140 100 L140 160 L120 160 Z" />

    <!-- Abdomen -->
    <path id="abs" class="muscle" d="M90 130 L110 130 L110 200 L90 200 Z" />

    <!-- Piernas -->
    <path id="legs" class="muscle" d="M80 200 L120 200 L120 320 L80 320 Z" />

    <!-- Glúteos -->
    <path id="glutes" class="muscle" d="M80 320 L120 320 L120 350 L80 350 Z" />

  </svg>
</div>
