<div class="visitante-home__ctasection">
  <h2 class="visitante-home__ctasection_title">¿Listo para comenzar tu transformación?</h2>
  <p class="visitante-home__ctasection_description">
    Únete hoy y obtén tu primera semana completamente gratis
  </p>
  <div class="visitante-home__ctasection_buttons">
    <button class="visitante-home__ctasection_button">Registrarme ahora</button>
    <button class="visitante-home__ctasection_button">Iniciar sesión</button>
  </div>
  <div class="visitante-home__ctasection_infoContainer">
    <app-visitante-home-cta-infocard
      imgSrc="assets/img/icons/tick.png"
      title="Sin compromiso"
      description="Cancela cuando quieras"
    ></app-visitante-home-cta-infocard>

    <app-visitante-home-cta-infocard
      imgSrc="assets/img/icons/tick.png"
      title="Acceso completo"
      description="Todas las clases incluidas"
    ></app-visitante-home-cta-infocard>

    <app-visitante-home-cta-infocard
      imgSrc="assets/img/icons/tick.png"
      title="Evaluación gratis"
      description="Plan personalizado"
    ></app-visitante-home-cta-infocard>
  </div>
</div>
