.config-layout {
  display: flex;
  gap: 30px;
  padding: 20px;
  min-height: 100vh;
}

.config-left {
  flex: 1;
  background: #ffffff;
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

  .config-left .titulo {
    font-size: 28px;
    font-weight: 800;
  }

.sub {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.card-config {
  background: #fafafa;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid #e4e4e4;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

/* Logo */
.logo-preview {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

/* Colores */
.color-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.color-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.preview-box {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

/* Botones */
.btn-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-restablecer {
  background: #ddd;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-guardar {
  background: var(--color-secundario);
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.config-right {
  flex: 1.3;
  background: #ffffff;
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.preview-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.preview-modes {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.mode-btn {
  background: #eee;
  padding: 8px 18px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

  .mode-btn.active {
    background: var(--color-secundario);
    color: white;
  }

.preview-frame {
  width: 100%;
  height: 650px;
  border-radius: 16px;
  border: 2px solid #ccc;
}
.text-titulo {
  text-align: center;
  color: black;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 50px;
}

  /* Modo celular */
  .preview-frame.mobile {
    width: 380px;
    height: 700px;
    margin: auto;
    display: block;
  }
