/* Izquierda más angosta */
.login-left {
  width: 35%;
  position: relative;
}

.login-bg-img {
  /* width: 100%; */
  height: 100vh;
  object-fit: cover;
}

.overlay-violeta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
}

/* Texto centrado más discreto */
.motivacion-text {
  position: absolute; 
  top: 55%;
  left: 50%;
   transform: translate(-50%, -50%);
  min-width: 780px;
}

.titulo-motivacion {
  font-family: var(--font-titulo);
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 0 3px 8px rgba(0,0,0,0.4);
}

.subtitulo-motivacion {
  font-size: 2rem;
  font-family:  var(--font-secundaria);
  text-shadow: 0 3px 8px rgba(0,0,0,0.35);
}

.titulo-motivacion, .subtitulo-motivacion {
  text-shadow: 0 4px 12px rgba(0,0,0,0.55);
}

/* Lado derecho: login protagonista */
.login-right {
  background: #f8f8f8;
}

h2, label, button, p {
  font-family: var(--font-secundaria);
}

.login-card {
  width: 100%;
  max-width: 430px;
  border-radius: 20px;
  background: #ffffff;
}
.login-card,
.login-right > div {
  max-width: 480px !important;
}
.login-wrapper {
  height: 100vh;
  overflow: hidden;  /* evita scroll innecesario */
}

/* Responsive */
@media (max-width: 992px) {
  .login-left {
    display: none;
  }

  .login-right {
    flex: 1;
    background: white;
  }
}
