/* Contenedor general */
.login-wrapper {
  background-color: #f5f5f5;
}

/* Lado izquierdo con fondo violeta */
.login-left {
  flex: 1;
  background: linear-gradient(135deg, #8B52FF 0%, #622edb 100%);
  color: white;
  text-align: center;
}

  /* Tipografía grande y elegante */
  .login-left h1 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
    color: black;
  }

  .login-left p {
    font-size: 1.1rem;
    opacity: 0.9;
  }

/* Lado derecho */
.login-right {
  flex: 1;
}

/* Botón principal */
.btn-fitrank {
  background-color: #8B52FF;
  border: none;
  color: #fff;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

  .btn-fitrank:hover {
    background-color: #7236e3;
  }

/* Enlaces */
.text-fitrank {
  color: #8B52FF;
}

/* Inputs focus */
.form-control:focus {
  border-color: #8B52FF;
  box-shadow: 0 0 0 0.2rem rgba(139, 82, 255, 0.25);
}

/* Responsive: solo formulario en mobile */
@media (max-width: 768px) {
  .login-left {
    display: none;
  }

  .login-right {
    flex: 1 1 100%;
  }
}
