<section class="visitante-home__hero">
  <img
    src="/assets/img/UserHero.webp"
    alt="UserHero image"
    class="visitante-home__hero__image"
    
  />
  <!-- <img src="../../assets/img/UserHero.webp" alt=""> -->
  <h1 class="visitante-home__hero__title">Transformá tu cuerpo, transformá tu vida</h1>
  <p class="visitante-home__hero__description">
    Únete a la comunidad de fitness más motivadora. Entrena con los mejores, alcanza tus metas.
  </p>
  <div class="visitante-home__hero__buttons">
    <button class="btn visitante-home__hero__registrarse">Registrate y comienzá hoy</button>
    <button class="btn visitante-home__hero__ver-clases">Ver clases disponibles</button>
  </div>
  <div class="visitante-home__hero__contenedorTarjetas">
    <app-visitante-home-hero-minicard
      titulo="500+"
      descripcion="Miembros activos"
    ></app-visitante-home-hero-minicard>
    <app-visitante-home-hero-minicard
      titulo="20+"
      descripcion="Clases semanales"
    ></app-visitante-home-hero-minicard>
    <app-visitante-home-hero-minicard
      titulo="15+"
      descripcion="Entrenadores expertos"
    ></app-visitante-home-hero-minicard>
  </div>
</section>
