<h2 class="home__accionrapidaseccion__titulo">Acciones rápidas</h2>

<div class="home__accionrapidaseccion__contenedor">
  <app-home-accionrapidaseccion-tarjeta
    imagenSrc="assets/img/icons/ranking.png"
    titulo="Ranking"
    descripcion="Compara tu progreso con otros miembros"
    ruta="/rutina/ranking"
  ></app-home-accionrapidaseccion-tarjeta>
  <app-home-accionrapidaseccion-tarjeta
    imagenSrc="assets/img/icons/agregar.png"
    titulo="Rutinas"
    descripcion="Crea y administra tus rutinas de entrenamiento"
    ruta="/rutina/crear/"
  ></app-home-accionrapidaseccion-tarjeta>
  <app-home-accionrapidaseccion-tarjeta
    imagenSrc="assets/img/icons/lista.png"
    titulo="Mis Rutinas"
    descripcion="Visualiza y sigue tus rutinas personalizadas"
    ruta="/rutina/mis-rutinas"
  ></app-home-accionrapidaseccion-tarjeta>
  <app-home-accionrapidaseccion-tarjeta
    imagenSrc="assets/img/icons/logros.png"
    titulo="Mis Logros"
    descripcion="Revisa los logros que has desbloqueado"
    ruta="/socios/1/gimnasios/1/logros"
  ></app-home-accionrapidaseccion-tarjeta>
</div>
