.reportes-container {
 background: #1c1c1c;
 max-width: 950px;
 margin: 2rem auto;
 padding: 1.5rem;
 border-radius: 16px;
}

.reportes-container h2 {
 font-family: "Poppins", sans-serif;
 font-weight: 800;
 color: #fff;
 text-align: center;
 text-transform: uppercase;
 margin-bottom: 1.5rem;
}

.reportes-container h2::after {
 content: "";
 display: block;
 width: 60px;
 height: 4px;
 background: linear-gradient(90deg, #7b3fe4, #a586ff);
 margin: 10px auto 0;
 border-radius: 3px;
}

.reportes-list {
 list-style: none;
 padding: 0;
 margin: 0;
}

.reportes-list li {
 background: rgba(255, 255, 255, 0.08);
 border: 1px solid rgba(255, 255, 255, 0.15);
 border-radius: 12px;
 padding: 1rem;
 margin-bottom: 1rem;
 color: #fff;
 font-family: "Poppins", sans-serif;
 transition: all 0.3s ease;
  
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 gap: 0.3rem;
  cursor: pointer; 
}

.reportes-list li:hover {
 transform: translateY(-2px);
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.reporte-main-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.reportes-list strong {
 display: block;
  font-size: 1.1rem;
 margin-bottom: 0.3rem;
}

.reportes-list small {
 display: inline; 
 font-size: 0.85rem;
 color: rgba(255, 255, 255, 0.7);
  margin-right: 15px; 
}

.reportes-list li small.estado-en-proceso {
 color: #ffb347 !important;
 font-weight: 600;
}

.reportes-list li small.estado-resuelto {
 color: #4caf50 !important;
 font-weight: 600;
}


.reportes-list li button {
  flex-shrink: 0; 
 background: #7b3fe4;
 color: #fff;
 border: none;
 padding: 0.5rem 1rem;
 border-radius: 0.5rem;
font-weight: 600;
 cursor: pointer;
 transition: all 0.3s ease;
}

.reportes-list li button:hover {
 transform: translateY(-2px);
}

.reportes-container hr {
 border: 0;
 height: 1px;
 background: rgba(255, 255, 255, 0.1);
 margin: 2rem 0;
}

.filtros {
 display: flex;
 justify-content: center;
 gap: 1rem;
 margin-bottom: 1.5rem;
}

.filtros button {
 align-self: flex-start;
 background: #7b3fe4;
 color: #fff;
 border: none;
 padding: 0.5rem 1rem;
 border-radius: 0.5rem;
 font-weight: 600;
 cursor: pointer;
 font-family: "Poppins", sans-serif;
 transition: all 0.3s ease;
 margin-top: 0.5rem;
}

.filtros button:hover {
 transform: translateY(-2px);
}

.filtros button.active {
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
 transform: translateY(-3px);
}

.reporte-descripcion {
 width: 100%;
 margin-top: 10px;
 padding: 10px;
 background-color: rgba(0, 0, 0, 0.2); 
 border-radius: 8px;
 border-left: 4px solid #7b3fe4; 
}

.reporte-descripcion p {
 color: #f5f5f5;
 margin: 0;
 font-size: 0.95rem;
 line-height: 1.4;
 white-space: pre-wrap;
}