.mis-rutinas-container {
  max-width: 900px;
  margin: auto;
  padding: 25px 20px 60px 20px; /* 25px original + 70px del header */
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


/* Título */
/* .mis-rutinas-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-size: 1.8rem;
} */

/* Lista de rutinas */
.rutinas-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Cada fila de rutina */
.rutina-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  width: 50%;
  margin: auto;
  /* border: 1px solid #e0e0e0; */
  border-radius: 10px;
  background-color: var(--color-fondo-tarjetas);
  transition: all 0.3s ease;
}

.rutina-item:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* Imagen y título */
.rutina-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rutina-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Título de la rutina */
.rutina-titulo {
  font-family: var(--font-secundaria);
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

/* Botones de acción */
.acciones-rutina {
  display: flex;
  gap: 10px;
}

.accion-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.accion-icon:hover {
  transform: scale(1.1);
  /* background-color: #FAEB92; */
  /* border: 1px solid #e0d682; */
}

.crear-rutina-btn-container {
  text-align: center; /* centrado */
  margin: 20px 0;     /* espacio arriba y abajo */
}

.btn-crear {
  background-color: #FAEB92; /* amarillo */
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-titulo);
}

.btn-crear:hover {
  background-color: #e0d682; /* amarillo más oscuro al pasar el cursor */
}
