.crear-rutina-wrapper {
  max-width: 1100px;
}

.btn-volver {
  background-color: #f5e085;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  font-weight: 600;
  margin: 20px;
  transition: all 0.3s ease;
}
.btn-volver:hover {
  background-color: #f0d769;
  transform: translateY(-1px);
}

.card {
  background: #fff;
}

.btn-fitrank-lg {
  background-color: #8b52ff;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  transition: 0.3s ease;
}
.btn-fitrank-lg:hover {
  background-color: #733ed9;
  transform: scale(1.05);
}

.info-card {
  background-color: #fafafa;
  border: 1px solid #f1f1f1;
  transition: all 0.3s ease;
}
.info-card:hover {
  transform: translateY(-5px);
  border-color: #8b52ff;
  box-shadow: 0 4px 15px rgba(139, 82, 255, 0.15);
}

.text-fitrank {
  color: #8b52ff;
}
