.visitante-home__serviciosection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
}

.visitante-home__serviciosection_titulo,
.visitante-home__serviciosection_descripcion {
    text-align: center;
    margin: 0;
}

.visitante-home__serviciosection_titulo {
    font-size: 36px;
    color: var(--color-acento-secundario);
}


.visitante-home__serviciocard_container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}