<div class="visitante-home__serviciosection">
  <h2 class="visitante-home__serviciosection_titulo">Nuestros Servicios</h2>
  <p class="visitante-home__serviciosection_descripcion">Descubre la variedad de clases y entrenamientos que tenemos para ti</p>
  <div class="visitante-home__serviciocard_container">
    <app-visitante-home-serviciocard
      imgSrc="assets/img/serviciosDelGym/fuerza.webp"
      title="Entrenamiento de Fuerza"
      description="Desarrolla músculo y aumenta tu fuerza con nuestro equipo de última generación."
    >
    </app-visitante-home-serviciocard>
    <app-visitante-home-serviciocard
      imgSrc="assets/img/serviciosDelGym/HIIT.webp"
      title="HIIT & Cardio"
      description="Quema calorías y mejora tu resistencia con entrenamientos de alta intensidad."
    >
    </app-visitante-home-serviciocard>
    <app-visitante-home-serviciocard
      imgSrc="assets/img/serviciosDelGym/entrenamiento-grupal.webp"
      title="Clases Grupales"
      description="Entrena en grupo con clases de spinning, yoga, pilates y más."
    >
    </app-visitante-home-serviciocard>
    <app-visitante-home-serviciocard
      imgSrc="assets/img/serviciosDelGym/entrenador-personal.jpg"
      title="Entrenamiento Personal"
      description="Planes personalizados diseñados específicamente para tus objetivos."
    >
    </app-visitante-home-serviciocard>
  </div>
</div>
