.home__tarjetaperfil__minitarjetaInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;

}

.home__tarjetaperfil__minitarjetaInfo__contenedorImagenTitulo {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.home__tarjetaperfil__minitarjetaInfo__image {
    width: 20px;
    height: 20px;
    object-fit: cover;
    filter: invert(39%) sepia(83%) saturate(749%) hue-rotate(234deg) brightness(95%) contrast(90%);

}

.home__tarjetaperfil__minitarjetaInfo__titulo {
    font-size: 18px;
    font-weight: bolder;
    color: var(--color-acento-secundario);
}

.home__tarjetaperfil__minitarjetaInfo__texto {
    font-size: 12px;
    font-weight: 500;
}

.home__tarjetaperfil__minitarjetaInfo__texto,
.home__tarjetaperfil__minitarjetaInfo__titulo {
    margin: 0;
}