.home__tarjetaperfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-acento);
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
}

.home__tarjetaperfil__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.home__tarjetaperfil__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.home__tarjetaperfil__contenedorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.home__tarjetaperfil__contenedorInfoBasica {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.home__tarjetaperfil__nombre {
    font-size: 24px;
    font-weight: bolder;
    margin-top: 10px;
    color: var(--color-acento-secundario);
    margin: 0;
    text-align: center;


}




.home__tarjetaperfil__posicion,
.home__tarjetaperfil__puntaje {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-texto-principal);
    margin: 0;
}

.home__tarjetaperfil__contenedorMiniTarjetasInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .home__tarjetaperfil {
        flex-direction: row;
        text-align: left;
        gap: 30px;
    }

    .home__tarjetaperfil__contenedorInfoBasica {
        align-items: flex-start;
    }

    .home__tarjetaperfil__nombre {
        align-self: flex-start;
    }

    .home__tarjetaperfil__contenedorInfo {
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}