<div class="visitante-home__footer">
  <div class="visitante-home__footer__contenedorDeBloques">
    <div class="visitante-home__footer_bloque">
      <img src="assets/img/fitrank-isologo.png" alt="" class="visitante-home__footer_logo" />
      <p class="visitante-home__footer_texto">
        Tu destino para alcanzar tus objetivos de fitness y bienestar.
      </p>
      <div class="visitante-home__footer_contenedorRedes">
        <a href="#" class="visitante-home__footer_redSocial"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="visitante-home__footer_redSocial"><i class="fab fa-twitter"></i></a>
        <a href="#" class="visitante-home__footer_redSocial"><i class="fab fa-instagram"></i></a>
        <a href="#" class="visitante-home__footer_redSocial"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <div class="visitante-home__footer_bloque">
      <h3 class="visitante-home__footer_tituloBloque">Enlaces Rápidos</h3>
      <a href="#" class="visitante-home__footer_enlace">Inicio</a>
      <a href="#" class="visitante-home__footer_enlace">Servicios</a>
      <a href="#" class="visitante-home__footer_enlace">Clases</a>
      <a href="#" class="visitante-home__footer_enlace">Contacto</a>
    </div>
    <div class="visitante-home__footer_bloque">
      <h3 class="visitante-home__footer_tituloBloque">Horarios</h3>
      <p class="visitante-home__footer_texto">Lunes a Viernes: 6:00 AM - 10:00 PM</p>
      <p class="visitante-home__footer_texto">Sábados: 8:00 AM - 8:00 PM</p>
      <p class="visitante-home__footer_texto">Domingos: 9:00 AM - 6:00 PM</p>
    </div>
    <div class="visitante-home__footer_bloque">
      <h3 class="visitante-home__footer_tituloBloque">Contacto</h3>
      <p class="visitante-home__footer_texto">Teléfono: (123) 456-7890</p>
      <p class="visitante-home__footer_texto">Email: contacto@fitrank.com</p>
      <p class="visitante-home__footer_texto">Dirección: Calle Falsa 123, Ciudad</p>
    </div>
  </div>
</div>
