<button type="button" class="btn-volver btn-secondary" (click)="volverAtras()">
  Volver
</button>
<div *ngIf="cargando" class="loading">
  Cargando batalla...
</div>

<h2 class="titulo">Detalle de batalla</h2>
<div *ngIf="!cargando && batalla" class="detalle-container">


  <div class="card-detalle">
    <p>Batalla contra <span class="resaltar">{{ oponente }}</span></p>
    <p><strong>Estado:</strong> {{ batalla.estado }}</p>


    <p *ngIf="batalla.fechaFin && batalla.estado === 'Activa'">
    <strong>Días restantes:</strong> {{ diasRestantes() }}
    </p>
    <p *ngIf="batalla.estado === 'Finalizada'">
        <strong>Fecha de inicio:</strong> {{ batalla.fechaInicio | date: 'short' }}
    </p>
    <p *ngIf="batalla.estado === 'Finalizada'">
      <strong>Fecha de finalización:</strong> {{ batalla.fechaFin | date: 'short' }}
    </p>
    <p><strong>Mis puntos: </strong> <span class="puntosUsuario">{{ (batalla.usuarioEsA ? batalla.puntosGuardadosB : batalla.puntosGuardadosA) | number:'1.2-2' }}</span></p>
    <p><strong>Puntos del oponente: </strong> <span class="puntosOponente">{{ (batalla.usuarioEsA ? batalla.puntosGuardadosA : batalla.puntosGuardadosB) | number:'1.2-2' }}</span></p>
  </div>

  
  
  <div *ngIf="!cargando && (batalla.estado === 'Activa' || batalla.estado === 'Finalizada')" class="grafico-container">
      <h3 class="subtitulo">Comparación de puntos</h3>
      <canvas #graficoPuntosCanvas></canvas>
    </div>
    
    <button 
      class="btn-finalizar btn-secondary"
      *ngIf="batalla.estado === 'Activa'"
      (click)="finalizarBatalla()">
      Finalizar Batalla
      </button>

</div>
