<div *ngIf="!esProfesor" class="fondo container-fluid min-vh-100 bg-light py-4">

  <app-header-socio></app-header-socio>


  <!-- SALUDO -->
  <div class="text-titulo fw-bold mb-4">
    <h2 class="display-6 fw-bold text-dark">¡Hola, {{ user.nombre }}!</h2>
    <p class="text-muted fs-5">Tu progreso te está llevando al siguiente nivel </p>
    <div class="badge bg-fitrank-subtle text-fitrank fs-6">
      Nivel Actual: <strong>{{ socio?.nivel }}</strong>
    </div>
  </div>


  <div class="row g-4">

    <!-- ========================= -->
    <!--  COLUMNA IZQUIERDA -->
    <!-- ========================= -->
    <div class="col-lg-4 col-md-12">

      <!-- Ocupación -->
      <div class="ocupacion-card bg-white shadow rounded-4 p-4 mb-4">
        <h2 class="titulo-ocu text-center">Ocupación Actual</h2>
        <div class="contador text-center">{{ personasDentro }}</div>
        <p class="sub text-center">personas dentro del gimnasio</p>
      </div>

      <!-- Movimientos -->
      <div class="movimientos-card bg-white shadow rounded-4 p-4 mb-4">
        <h3 class="fw-bold text-center">Movimientos Recientes</h3>

        <div class="movimientos-row">
          <div class="movimiento-foto" *ngFor="let m of ocupacion">
            <img [src]="m.foto" class="avatar" />
          </div>
        </div>
      </div>
      <!-- RESUMEN DE CUOTA -->
      <div class="cuota-card bg-white shadow rounded-4 p-4 mb-4">

        <h3 class="fw-bold text-center mb-3">
          Estado de tu Cuota
        </h3>

        <div class="d-flex justify-content-center mb-3">
          <span class="material-symbols-outlined me-2"
                style="font-size: 32px; color: var(--color-secundario);">
            account_balance_wallet
          </span>
          <div>
            <p class="m-0 text-dark fw-semibold">
              Vence el:
              <strong>{{ socio?.cuotaPagadaHasta | date:'dd/MM/yyyy' }}</strong>
            </p>

            <small class="text-muted">
              Te quedan
              <strong>{{ diasRestantesCuota }}</strong>
              días de acceso
            </small>
          </div>
        </div>




        <!-- BOTÓN RENOVAR -->
        <div class="text-center mt-3">
          <button class="btn btn-fitrank btn-secondary"
                  (click)="renovarCuota()">
            <span class="material-symbols-outlined me-2">autorenew</span>
            Renovar cuota
          </button>
        </div>

        <!-- BOTÓN PARA PAGAR CON LINK (SIEMPRE VISIBLE) -->
        <div class="text-center mt-2">
          <button class="btn btn-outline-secondary w-100"
                  (click)="abrirLinkPago()">
            <i class="bi bi-credit-card"></i> Pagar con link
          </button>
        </div>



      </div>
      <div class="qr-overlay" *ngIf="mostrarQR" (click)="mostrarQR = false">
        <div class="qr-modal shadow-lg" (click)="$event.stopPropagation()">

          <button class="close-btn btn-secondary" (click)="mostrarQR = false">
            <span class="material-symbols-outlined">close</span>
          </button>

          <h3 class="text-titulo mb-3 fw-bold">Escaneá para pagar tu cuota</h3>

          <img *ngIf="qrImage" [src]="qrImage" class="qr-img mb-3" />

        </div>
      </div>



    </div>



    <!-- ========================= -->
    <!-- COLUMNA CENTRAL -->
    <!-- ========================= -->
    <div class="col-lg-5 col-md-12">

      <!-- PERFIL COMPLETO -->
      <div class="panel-perfil bg-white shadow rounded-4 p-4 mb-4 text-black">
        <h3 class="fw-bold text-titulo m-0">Mi Perfil</h3><br />
        <!-- CABECERA -->
        <div class="d-flex justify-content-between align-items-center mb-3">

          <div class="d-flex gap-2">
            <button class="btn btn-secondary" (click)="toggleEditarPerfil()"><i class="bi bi-pencil"></i> Editar Perfil</button><br />
            <button class="btn btn-secondary alerta-flecha bi bi-rulers" (click)="toggleMedidas()"> Medidas</button>
            <div *ngIf="historialMedidas?.length === 0" class="alerta-fitrank mt-3">
              <p class="alerta-texto bi bi-exclamation-triangle-fill"> Para participar del ranking debés cargar tus medidas corporales</p>
              <div class="alerta-flecha">⬅</div>

              <small class="alerta-sub">Hacé clic en “Medidas” para comenzar</small>
            </div>



          </div>
        </div>

        <!-- FOTO + DATOS -->
        <div class="row g-3">
          <div class="col-md-4 text-center">
            <img [src]="socio?.fotoUrl || 'assets/img/perfil/user-sin-foto.png'"
                 class="rounded-circle border"
                 width="120" height="120" />
          </div>

          <div class="col-md-8">
            <p><strong>Nombre:</strong> {{ socio?.nombre }} {{ socio?.apellido }}</p>
            <p><strong>Sexo:</strong> {{ socio?.sexo }}</p>
            <p><strong>Altura:</strong> {{ socio?.altura }} cm</p>
            <p><strong>Peso:</strong> {{ socio?.peso }} kg</p>
            <p><strong>Inicio:</strong> {{ socio?.fechaRegistro | date:'dd/MM/yyyy' }}</p>

          </div>
        </div>

        <!-- EDITAR PERFIL -->
        <div *ngIf="mostrarEditarPerfil" class="editar-perfil-card mt-4 p-4">
          <h4 class="fw-bold mb-4 titulo-seccion"> <i class="bi bi-pencil-square me-2"></i> Editar Perfil </h4> 
          <div class="row g-4"> <!-- FOTO --> 
            <div class="col-md-6"> 
              <label>Foto de Perfil</label> 
              <input type="file" class="form-control" accept="image/*" (change)="onSeleccionarFoto($event)"> </div> 
              <!-- CAMPOS --> 
               <div class="col-md-8"> 
                <div class="row g-3"> 
                  <div class="col-md-6"> 
                    <label class="form-label"> 
                      <i class="bi bi-person me-1">

                      </i> Nombre 
                    </label> 
                      <input class="form-control" [(ngModel)]="formEditar.nombre"> </div> 
                      <div class="col-md-6"> 
                        <label class="form-label"> 
                          <i class="bi bi-person me-1"></i> Apellido 
                        </label> <input class="form-control" [(ngModel)]="formEditar.apellido"> </div> 
                        <div class="col-md-6"> 
                          <label class="form-label"> 
                            <i class="bi bi-gender-ambiguous me-1"></i> Sexo 
                          </label> 
                          <select class="form-control" [(ngModel)]="formEditar.sexo"> 
                            <option value="">Seleccionar</option> 
                            <option value="F">Femenino</option> 
                            <option value="M">Masculino</option> 
                            <option value="X">Otro</option> 
                          </select> 
                        </div> 
                        <div class="col-md-6"> 
                          <label class="form-label"> 
                            <i class="bi bi-rulers me-1"></i> Altura (cm) 
                          </label> 
                          <input type="number" class="form-control" [(ngModel)]="formEditar.altura"> 
                        </div> 
                        <div class="col-md-6"> 
                          <label class="form-label"> 
                            <i class="bi bi-activity me-1"></i> Peso (kg) </label> 
                            <input type="number" class="form-control" [(ngModel)]="formEditar.peso"> 
                          </div> 
                        </div> 
                      </div> 
                    </div> 
                    <button (click)="onToggleRankingManual()" class="btn btn-agregar-ranking mt-4">
                      {{ socio?.participaEnRanking ? 'Quitar del ranking' : 'Añadir al ranking' }}
                    </button>
                    <!-- BOTÓN GUARDAR --> 
                    <div class="text-end mt-4"> 
                      <button class="btn-guardar" (click)="guardarPerfil()"> <i class="bi bi-save me-2"></i> Guardar </button> 
                    </div>

        </div>

        <!-- MEDIDAS -->
        <div *ngIf="mostrarMedidas" class="mt-4 p-3 border rounded-3 text-black">
          <h4 class="fw-bold mb-3">Medidas Corporales</h4> <!-- Formulario nueva medida --> <!-- Formulario nueva medida -->
          <div class="row g-3"> <div class="col-md-4"> <label>Pecho (cm)</label> <input class="form-control" placeholder="Ej: 95" [(ngModel)]="formMedida.pechoCm">
            <small class="text-muted"> ➤ Medí la circunferencia pasando la cinta por la parte más alta del pecho. </small> </div> <div class="col-md-4"> <label>Cintura (cm)</label>
            <input class="form-control" placeholder="Ej: 72" [(ngModel)]="formMedida.cinturaCm"> <small class="text-muted"> ➤ Medí alrededor del ombligo sin apretar la cinta. </small> </div> <div class="col-md-4"> <label>Cadera (cm)</label> <input class="form-control" placeholder="Ej: 98" [(ngModel)]="formMedida.caderaCm">
            <small class="text-muted"> ➤ Medí la zona más ancha de la cadera y glúteos. </small> </div> <div class="col-md-4"> <label>Brazo Derecho (cm)</label> <input class="form-control" placeholder="Ej: 28" [(ngModel)]="formMedida.brazoDerechoCm"> <small class="text-muted"> ➤ Rodeá el brazo por el punto medio entre hombro y codo. </small>
                             </div> <div class="col-md-4"> <label>Brazo Izquierdo (cm)</label> <input class="form-control" placeholder="Ej: 27.5" [(ngModel)]="formMedida.brazoIzquierdoCm"> <small class="text-muted"> ➤ Misma técnica que brazo derecho, siempre relajado. </small> </div> <div class="col-md-4"> <label>Peso (kg)</label> <input class="form-control" placeholder="Ej: 63.2" [(ngModel)]="formMedida.pesoKg"> <small class="text-muted"> ➤ Preferiblemente en ayunas o mismo horario cada día. </small> </div> </div> <div class="text-end mt-3">
          <button class="btn btn-success btn-secondary" (click)="guardarMedida()">➕ Agregar Medida</button> </div> <!-- Historial --> <h5 class="mt-4">Historial</h5> <table class="table table-striped mt-2"> <thead> <tr> <th>Fecha</th> <th>Pecho</th> <th>Cintura</th> <th>Cadera</th> <th>Peso</th> </tr> </thead> <tbody> <tr *ngFor="let m of historialMedidas"> <td>{{ m.fecha | date:'dd/MM/yyyy' }}</td> <td>{{ m.pechoCm }}</td> <td>{{ m.cinturaCm }}</td> <td>{{ m.caderaCm }}</td> <td>{{ m.pesoKg }}</td> </tr> </tbody> </table>

        </div>

      </div>




      <!-- ACCIONES RÁPIDAS -->
      <section class="mb-4">
        <div class="row g-3 justify-content-center"> <div class="col-12 col-md-3"> <button class="quick-action w-100 btn-secondary" (click)="navegarA('/ranking')"> <span class="material-symbols-outlined me-2">emoji_events</span> Ranking </button> </div> <div class="col-12 col-md-3"> <button class="quick-action w-100 btn-secondary" (click)="navegarA('/rutina/crear/')"> <span class="material-symbols-outlined me-2">add_circle</span> Crear rutina </button> </div> <div class="col-12 col-md-3"> <button class="quick-action w-100 btn-secondary" (click)="navegarA('/rutina/mis-rutinas')"> <span class="material-symbols-outlined me-2">list_alt</span> Mis rutinas </button> </div> <div class="col-12 col-md-3"> <button class="quick-action w-100 btn-secondary" (click)="navegarA('/socios/1/gimnasios/1/logros')"> <span class="material-symbols-outlined me-2">military_tech</span> Mis logros </button> </div> </div>
      </section>

      <!-- TARJETA RETENCIÓN -->
      <div *ngIf="mostrarRetencion" class="card-retencion text-center mb-4">
        <h5 class="text-fitrank fw-bold mb-3"> ¡Te extrañamos en FitRank!</h5> <p>Hace algunos días que no registramos tus entrenamientos. ¿Querés retomar con energía?</p> <div class="d-flex flex-column gap-2 mt-3"> <button class="btn btn-primary w-100 btn-secondary" (click)="responder('cambiar-rutina')"> 🔄 Cambiar rutina </button> <button class="btn btn-success w-100 btn-secondary" (click)="responder('estoy-bien')"> ✅ Estoy bien </button> <button class="btn btn-warning w-100 btn-secondary" (click)="responder('contactar-profesor')"> Que me contacte un profesor </button> </div>
      </div> <!--  Tarjeta de retención (solo visible si hay notificación) --> <div *ngIf="mostrarRetencion" class="card-retencion text-center"> <h5 class="text-fitrank fw-bold mb-3">¡Te extrañamos en FitRank!</h5> <p> Hace algunos días que no registramos tus entrenamientos.<br /> ¿Querés retomar con energía? </p> </div>




    </div>





    <!-- ========================= -->
    <!--  COLUMNA DERECHA (SIDEBAR NOTIFICACIONES) -->
    <!-- ========================= -->
    <!--  COLUMNA DERECHA (SIDEBAR NOTIFICACIONES) -->
    <div class="col-lg-3 col-md-12">
      <div class="sidebar-noti bg-white shadow rounded-4 p-3 mb-4">

        <h4 class="fw-bold text-titulo mb-3">Notificaciones</h4>

        <!-- Si no hay notificaciones -->
        <div *ngIf="notificaciones.length === 0" class="text-center text-muted mb-3">
          No tenés notificaciones por ahora.
        </div>

        <!-- Si hay notificaciones -->
        <div class="list-group small" *ngIf="notificaciones.length > 0">
          <div class="list-group-item border-0 border-bottom bg-light d-flex pointer"
               *ngFor="let n of notificaciones"
               (click)="abrirNotificacion(n)">

            <span class="material-symbols-outlined me-2 mt-1">
              notifications
            </span>

            <div>
              <p class="fw-semibold mb-1">{{ n.titulo }}</p>
              <small class="text-muted">{{ n.mensaje }}</small>
              <br>
              <small class="text-muted">{{ n.fechaEnvio | date:'dd/MM/yyyy HH:mm' }}</small>
            </div>

          </div>
        </div>

        <!-- Siempre visible — incluso sin notificaciones -->
        <div class="text-center mt-3">
          <button class="btn btn-secondary " (click)="navegarNotificaciones()">
            Ver todas
          </button>
        </div>

      </div>
    </div>

  </div>
</div>
<app-footer *ngIf="!esProfesor"></app-footer>

<!--  PANEL DEL PROFESOR -->
<div *ngIf="esProfesor" class="fondo container-fluid bg-light py-4">
  <app-header-profesor [user]="user"></app-header-profesor><br />
  <div class="container py-5 text-center"> 
  <h2 class="display-6 fw-bold text-dark">¡Profe, {{ user.nombre }}!</h2>



  <p class="text-muted mb-5">Gestioná tus rutinas, alumnos y notificaciones</p>

 <div class="row g-4 justify-content-center">

  <div class="col-12 col-md-4">
    <button class="quick-action w-100 btn-secondary" (click)="navegarA('/rutina/mis-rutinas')">
      <span class="material-symbols-outlined me-2">list_alt</span>
      Ver mis rutinas creadas
    </button>
  </div>

  <div class="col-12 col-md-4">
    <button class="quick-action w-100 btn-secondary" (click)="navegarA('/profesor/progreso-alumnos')">
      <span class="material-symbols-outlined me-2">group</span>
      Ver progreso alumnos
    </button>
  </div>

  <div class="col-12 col-md-4">
    <button class="quick-action w-100 btn-secondary" (click)="navegarA('solicitudes-profesor')">
      <span class="material-symbols-outlined me-2">list_alt</span>
      Panel de Solicitudes Generales
    </button>
  </div>

  <div class="col-12 col-md-4">
    <button class="quick-action w-100 btn-secondary" (click)="navegarA('/profesor/mis-alumnos')">
      <span class="material-symbols-outlined me-2">group</span>
      Ver mis alumnos
    </button>
  </div>

  <div class="col-12 col-md-4">
    <button class="quick-action w-100 btn-secondary" (click)="navegarNotificaciones()">
      <span class="material-symbols-outlined me-2">notifications_active</span>
      Notificaciones
    </button>
  </div>

</div>
