<app-header-socio></app-header-socio>
<button type="button" class="btn-volver" (click)="volverAtras()">
  Volver
</button>

<div class="container mt-4 contenedor">
  <h2 class="mb-3 titulo">Asignar ejercicios y series a la rutina</h2>
  <!-- <p class="text-muted"> {{ rutinaNombre }}</p> -->

  <form [formGroup]="form" (ngSubmit)="guardarTodo()" >
    <div formArrayName="ejercicios">
      <div class=" mb-3"
           *ngFor="let ej of ejercicios.controls; let i = index"
           [formGroupName]="i">
        <div class=" form-container">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="mb-0 titulo-ejercicio">✨Primer ejercicio {{ i+1 }}</h5>
            <button type="button" class="btn btn-outline-danger quitar-btn" (click)="eliminarEjercicio(i)">
              Quitar ejercicio
            </button>
          </div>

          <!-- fila 1 -->
          <div class="row g-3">
            <div class="col-12 col-md-6">
              <label class="form-label label">Ejercicio</label>
              <select class="form-select" formControlName="ejercicioId">
                <option [ngValue]="null">Seleccionar...</option>
                <option *ngFor="let e of ejerciciosDisponibles" [ngValue]="e.id">
                  {{ e.nombre }}
                </option>
              </select>
              <div class="text-danger small" *ngIf="ej.get('ejercicioId')?.invalid && ej.get('ejercicioId')?.touched">
                Seleccioná un ejercicio.
              </div>
            </div>

            <div class="col-6 col-md-3">
              <label class="form-label label">N° sesión</label>
              <input type="number" class="form-control" formControlName="numeroDeSesion" min="1">
            </div>

            <div class="col-6 col-md-3">
              <label class="form-label label">Orden</label>
              <input type="number" class="form-control" formControlName="orden" min="1">
            </div>

            <div class="col-12">
              <label class="form-label label">Observaciones</label>
              <input type="text" class="form-control" formControlName="observaciones" placeholder="Opcional">
            </div>
          </div>



          <!-- SERIES -->
          <div formArrayName="series">
            <div class="row g-2 align-items-end mb-2"
                 *ngFor="let s of series(i).controls; let j = index"
                 [formGroupName]="j">
              <div class="col-6 col-md-2">
                <label class="form-label label">Peso (kg)</label>
                <input type="number" class="form-control" formControlName="peso" min="0">
              </div>
              <div class="col-6 col-md-2">
                <label class="form-label label">Reps</label>
                <input type="number" class="form-control" formControlName="repeticiones" min="1">
              </div>
              <div class="col-6 col-md-2">
                <label class="form-label label">RIR</label>
                <input type="number" class="form-control" formControlName="rir" min="0">
              </div>
              <div class="col-6 col-md-2">
                <label class="form-label label"># Serie</label>
                <input type="number" class="form-control" formControlName="nroSerie" min="1">
              </div>
              <div class="col-12 col-md-4 text-end">
                <button type="button" class="btn btn-outline-danger quitar-btn" (click)="eliminarSerie(i, j)">
                  Quitar serie
                </button>
              </div>
            </div>

            <button type="button" class="btn btn-sm btn-outline-primary agregar-serie-button" (click)="agregarSerie(i)">
              ✨ Agregar serie
            </button>
          </div>
        </div>
      </div>
    </div>
  






    <div class="d-flex gap-2">
      <button type="button" class="btn btn-outline-secondary agregar-ejercicio-button" (click)="agregarEjercicio()">
        ✨ Agregar otro ejercicio
      </button>

    </div>
    <button type="submit" class="btn btn-primary ms-auto btn-principal" [disabled]="loading">
      {{ loading ? 'Guardando...' : 'Guardar todo' }}
    </button>
  </form>
</div>
