<div class="mis-rutinas-container">
  <!-- Header con botones y timer -->
  <div class="rutina-header-grid">
    <button class="btn-cancelar" (click)="cancelarRutina()">Cancelar</button>
    <div class="timer">{{ tiempoFormateado }}</div>
    <button class="btn-terminar" (click)="terminarRutina()">Terminar</button>
  </div>

  <!-- Lista de ejercicios -->
  <div class="ejercicios-container">
    <div *ngFor="let ejercicio of ejercicios" class="ejercicio-item-container">
      
      <!-- Imagen del grupo muscular -->
      <img [src]="ejercicio.imagen" alt="{{ejercicio.nombre}}" class="ejercicio-item-img" />
      
      <!-- Contenido de la tarjeta -->
      <div class="ejercicio-item-content">
        <h4 (click)="toggleEjercicio(ejercicio.id)" class="ejercicio-nombre-clickable">
          {{ ejercicio.nombre }}
          <span class="chevron" [class.expanded]="ejercicio.expandido">▼</span>
        </h4>

        <!-- Inputs directos, solo si está expandido -->
        <div class="card-body" *ngIf="ejercicio.expandido">
          <table class="sets-table">
            <thead>
              <tr>
                <th>Kg</th>
                <th>Reps</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="number" [(ngModel)]="ejercicio.peso" /></td>
                <td><input type="number" [(ngModel)]="ejercicio.repeticiones" /></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
