<header class="header-profesor d-flex align-items-center justify-content-between px-3">
  <!-- Logo -->
  <div class="d-flex align-items-center gap-2">
    <button class="btn-menu btn-secondary" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>
    <img src="assets/img/logo/logo-negro-lila.svg" class="logo" alt="FitRank" (click)="irAlHome()" />
    <span class="titulo">Profesor</span>
  </div>

  <!-- Acciones derecha -->
  <div class="acciones d-flex align-items-center gap-3">
    <button class="btn btn-link text-black btn-secondary" (click)="irA('/solicitudes-profesor')">
      <i class="titulo bi bi-clipboard-check"></i> Solicitudes
    </button>

    <button class="titulo btn btn-link text-black btn-secondary" (click)="irA('rutina/mis-rutinas')">
      <i class="bi bi-journal-text"></i> Mis Rutinas
    </button>

    <div class="user-info text-end">

      <strong>{{ user?.nombre || 'Profesor' }}</strong>
    </div>
    <div class="noti-icon" (click)="abrirNotificaciones()">
      <i class="bi bi-bell-fill" [class.activa]="hayNotificacionesNuevas"></i>
      <span class="badge" *ngIf="notificacionesNuevas > 0">
        {{ notificacionesNuevas }}
      </span>
    </div>
    <button class="btn-logout btn-secondary" (click)="logout()">
      <i class=" bi-box-arrow-right"></i>
      <span class="titulo">Cerrar Sesión</span>
    </button>
  </div>
</header>
<!-- 🔔 POPUP DE NOTIFICACIONES -->
<div class="popup-notificaciones" *ngIf="mostrarPopup">
  <div class="popup-header">
    <h4>Notificaciones</h4>
    <button class="cerrar btn-secondary" (click)="mostrarPopup = false">✖</button>
  </div>

  <div class="popup-body">
    <div *ngIf="notificaciones.length === 0" class="sin-noti">
      No tenés notificaciones aún 😊
    </div>

    <div class="noti-item" *ngFor="let n of notificaciones">
      <div class="noti-titulo">{{ n.titulo }}</div>
      <div class="noti-mensaje">{{ n.mensaje }}</div>
      <div class="noti-fecha">{{ n.fechaCreacion | date:'dd/MM HH:mm' }}</div>
    </div>
  </div>
</div>
