/* ===========================
   SIDEBAR DESKTOP
=========================== */
    :root {
      --color-principal: #000;
      --color-secundario: #8B52FF;
      --logo-gimnasio: none;
    }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  z-index: 1000;
  box-shadow: 4px 0 25px rgba(0,0,0,.3);
  transition: transform .3s ease-in-out;
}
.pointer {
  cursor: pointer;
}

.sidebar-header:hover h1 {
  color: #8B52FF; /* toque FitRank violeta */
  transition: 0.2s ease;
}

.sidebar-logo-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 5px;
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.3));
}

/* ===========================
   ITEMS
=========================== */
.nav-item {
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: .75rem 1rem;
  margin-bottom: .4rem;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  transition: all .3s ease;
}

  .nav-item:hover,
  .nav-item.active {
    background: var(--color-secundario);
    transform: translateX(5px);
  }

.sidebar-footer {
  font-size: .85rem;
  opacity: .9;
}

.mixer{
  mix-blend-mode: difference;
  color: white;
}

/* ===========================
   BOTÓN HAMBURGUESA
=========================== */
.sidebar-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 28px;
  background: #8b52ff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  z-index: 1100;
  cursor: pointer;
  display: none;
}

/* ===========================
   MOBILE
=========================== */
@media (max-width: 768px) {

  /* Oculto por defecto */
  .sidebar {
    transform: translateX(-100%);
    height: 100vh;
  }

    /* Cuando se abre */
    .sidebar.open {
      transform: translateX(0);
    }

  /* Mostrar botón hamburguesa */
  .sidebar-toggle {
    display: block;
  }

  .sidebar-header {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .nav-item {
    padding: .65rem 1rem;
  }
}
.logo-img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  background: #000;
  border-radius: 12px;
  padding: 8px;
  border: 2px solid #8B52FF;
}

.btn-cargar-logo {
  margin-top: 10px;
  font-size: 13px;
  padding: 6px 12px;
}
