<!-- BOTÓN HAMBURGUESA (solo móvil) -->
<button class="sidebar-toggle" (click)="toggleSidebar()">
  ☰
</button>

<!-- SIDEBAR -->
<aside class="sidebar" [class.open]="isSidebarOpen">
  <div>
    <div class="sidebar-header mb-4 text-center">
      <h1>Tu logo Aqui</h1>
      <small>Administrador</small>
    </div>

    <nav>
      <a *ngFor="let it of items"
         [routerLink]="it.route"
         routerLinkActive="active"
         class="nav-item">
        {{ it.label }}
      </a>
    </nav>
  </div>

  <div class="sidebar-footer text-center">
    <p class="m-0">© FitRank 2025</p>
  </div>
</aside>
