<!-- BOTÓN HAMBURGUESA (solo móvil) -->
<button class="sidebar-toggle" (click)="toggleSidebar()">
  ☰
</button>

<!-- SIDEBAR -->
<aside class="sidebar" [class.open]="isSidebarOpen">
  <div>
    <div class="sidebar-logo-container" (click)="irAConfiguracion()">
      <img class="sidebar-logo"
           [src]="logoUrl || 'assets/img/default-user.png'"
           alt="Logo del Gimnasio" />
      <small>Administrador</small>
    </div>




    <nav>
      <a *ngFor="let it of items"
         [routerLink]="it.route"
         routerLinkActive="active"
         class="nav-item">
        {{ it.label }}
      </a>
    </nav>
  </div>

  <div class="sidebar-footer text-center">
    <p class="m-0">© FitRank 2025</p>
  </div>
</aside>
