
.fitrank-footer {
  background: white;
}

  .fitrank-footer .footer-logo {
    height: 38px;
  }

  .fitrank-footer .footer-links li a {
    color: #d1d1d1;
    font-size: 0.85rem;
    text-decoration: none;
  }

    .fitrank-footer .footer-links li a:hover {
      color: #8c52ff; /* tu lila */
    }

.status-dot {
  width: 10px;
  height: 10px;
  background: #28a745;
  border-radius: 50%;
  display: inline-block;
}

.text-fitrank {
  color: #8c52ff;
}
.footer-flex {
  display: flex;
  justify-content: space-evenly; /* separa por igual */
  align-items: end;
}
.imagenes-footer{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-around;
  flex-direction: column;
}
@media (max-width: 768px) {
  .footer-flex {
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media (max-width: 767px) {
  .fitrank-footer {
    text-align: left;
  }
}
