.resumen-entrenamiento-container {
  max-width: 900px;
  margin: auto;
  padding: 95px 20px 50px 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2, h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Puntos */
.puntos-container {
  text-align: center;
  margin-bottom: 30px;
}

.puntos-totales {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* Ejercicios */
.lista-ejercicios {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ejercicio-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #fafafa;
  padding: 15px;
  transition: all 0.3s ease;
}

.ejercicio-card:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.info-ejercicio {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 8px;
}

.detalles-ejercicio p {
  margin: 2px 0;
  color: #555;
}

/* Zonas */
.zonas-container {
  text-align: center;
  margin-top: 30px;
}

.zonas-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.zona {
  background-color: #FAEB92;
  color: #333;
  padding: 8px 12px;
  border-radius: 8px;
  font-weight: 600;
}

/* Botones */
.acciones-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.btn-volver, .btn-ranking {
  background-color: #FAEB92;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-volver:hover, .btn-ranking:hover {
  background-color: #e0d682;
  transform: scale(1.05);
}


.zona-muscular-container {
  text-align: center;
  padding: 20px;
}

.zona-muscular-container img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

.zona-muscular-container {
  text-align: center;
  padding: 20px;
}

.imagenes-zonas {
  display: flex;
  justify-content: center;
  gap: 20px; /* espacio entre las imágenes */
  flex-wrap: wrap; /* que bajen si no entran */
  margin-top: 15px;
}

.imagenes-zonas img {
  width: 45%;   /* ocupan menos ancho para que entren juntas */
  max-width: 300px; /* opcional, para que no sean muy grandes */
  height: auto;
  border-radius: 10px;
}