
<div class="resumen-entrenamiento-container">
  <h2>Resumen del Entrenamiento</h2>

  <!-- Puntos totales -->
  <div class="puntos-container">
    <h3>Puntos obtenidos:</h3>
    <p class="puntos-totales">{{ puntosTotales }} pts</p>
  </div>

  <!-- Imagen de zonas trabajadas -->
  <div class="zona-muscular-container">
  <h2>Zonas trabajadas</h2>
  <div class="imagenes-zonas">
    <img src="assets/img/frente_-_copia.png" alt="Zonas musculares trabajadas">
    <img src="assets/img/dorso_-_copia.png" alt="Zonas musculares trabajadas espaldas">
  </div>
</div>

  <!-- Botones -->
  <div class="acciones-container">
  <button class="btn-volver" (click)="volverHome()">Volver al Home</button>
  <button class="btn-ranking" (click)="verRanking()">Ver Ranking</button>
</div>

</div>
