/* Fondo general */
:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* Contenedor principal */
.container-puntaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 3rem;
  background: var(--color-fondo-tarjetas);
  border-radius: 1.5rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  animation: fadeIn 0.8s ease-out;
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Título principal */
.titulo {
  font-size: 2rem;
  font-weight: 700;
  color: #38bdf8;
  margin-bottom: 1.5rem;
}

/* Tarjetas */
.card {
  background: var(--color-acento);
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 380px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(231, 243, 68, 0.3);
}

/* Textos dentro de tarjetas */
.card h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--texto-color-principal);
  font-family: var(--font-secundaria);
}

.card p {
  font-size: 3.5rem;
  font-weight: 800;
}

/* Colores de puntajes */
.puntaje-ejercicio {
  color: var(--color-acento-secundario);
  text-shadow: 0 0 8px rgba(34, 197, 94, 0.4);
    font-family: var(--font-titulo);
}

.puntaje-total {
  color: var(--texto-color-principal);
  text-shadow: 0 0 8px rgba(234, 179, 8, 0.4);
  font-family: var(--font-titulo);
}

.btn-volver {
  background-color: #f5e085;
  border: none;
  border-radius: 8px;
  padding: 8px 18px;
  font-weight: 600;
  margin: 20px;
  transition: all 0.3s ease;
}

  .btn-volver:hover {
    background-color: #f0d769;
    transform: translateY(-1px);
  }
