<div class="container-fluid dashboard-container">
  <div class="row">

    <!-- ==========================================================
         COLUMNA IZQUIERDA
    =========================================================== -->
    <div class="col-md-8">

      <!-- HEADER -->
      <div class="dashboard-header d-flex justify-content-between align-items-center mb-3">
        <div>
          <h2 class="text-titulo  fw-bold mb-4">PANEL GENERAL</h2>
          <p class="dashboard-sub text-black">Resumen del gimnasio</p>
        </div>

        <!-- HEADER -->
        <div class="gestion-header">
          <div>
            <h2 class="titulo">Máquinas y ejercicios</h2>
            <p class="subtitulo">Gestioná todo el contenido del gimnasio desde un solo lugar</p>
          </div>

          <div class="header-actions">
            <button class="btn btn-outline btn-secondary" (click)="irANotificaciones()">
              Notificación
            </button>



            <button class="btn btn-primary btn-secondary ms-2" (click)="generarInvitacion()">
              Nuevo Socio
            </button>
          </div>

        </div>
      </div>

      <!-- ===============================
       KPIs
  =============================== -->
      <div class="row g-3 mb-4">

        <!-- SOCIOS TOTALES + CRECIMIENTO -->
        <div class="col-md-3 col-6">
          <div class="kpi-box">
            <div class="kpi-label text-black">Socios totales</div>

            <div class="d-flex justify-content-between align-items-center">
              <div class="kpi-value">{{ stats.totalSocios }}</div>

              <span class="kpi-growth-text"
                    [ngClass]="stats.porcentajeCrecimiento! >= 0 ? 'text-success' : 'text-danger'">
                {{ stats.porcentajeCrecimiento }}%
              </span>
            </div>

            <div class="kpi-progress mt-2">
              <div class="kpi-progress-bar"
                   [style.width.%]="stats.porcentajeCrecimiento"></div>
            </div>
          </div>
        </div>

        <!-- SOCIOS HOY -->
        <div class="col-md-3 col-6">
          <div class="kpi-box">
            <div class="kpi-label text-black">Socios hoy</div>
            <div class="kpi-value">{{ stats.sociosActivosHoy }}</div>
          </div>
        </div>

        <!-- PRÓXIMOS A VENCER -->
        <div class="col-md-3 col-6">
          <div class="kpi-box">
            <div class="kpi-label text-black">Próximos a vencer</div>
            <div class="kpi-value text-warning">{{ stats.cuotasPorVencer }}</div>
          </div>
        </div>

        <!-- RIESGO ALTO -->
        <div class="col-md-3 col-6">
          <div class="kpi-box kpi-box-riesgo">
            <div class="kpi-label text-black">Riesgo alto</div>
            <div class="kpi-value text-danger">{{ stats.sociosRiesgoAlto }}</div>
          </div>
        </div>

      </div>

      <!-- ==========================
       MINI-GRÁFICOS CON SWITCH
  =========================== -->
      <!-- SWITCH DE RUTINAS FAVORITAS DEL GIMNASIO -->
      <!-- <div class="switch-group mb-3 mt-4">
        <button class="switch-btn btn-secondary active">
          Rutinas favoritas del gimnasio
        </button>
      </div>

      <div *ngIf="rutinasFavoritasGimnasio.length === 0" class="no-data">
        Aún no hay rutinas favoritas marcadas por los socios.
      </div>

      <div *ngFor="let r of rutinasFavoritasGimnasio" class="rutina-card">
        <h4>{{ r.nombre }}</h4>
        <p>{{ r.descripcion }}</p>
        <small class="favoritos"> Elegida por {{ r.cantidadFavoritos }} socios</small>
      </div> -->


      <!-- ===============================
       SOCIOS EN ALTO RIESGO
  ================================ -->
      <div class="panel-box mb-4">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="panel-title">Socios en alto riesgo</div>
          <div class="switch-group">
            <button class="btn-outline btn-secondary"
                    (click)="irASociosRiesgo()">
              Ver todos
            </button>
          </div>

        </div>

        <div *ngIf="sociosRiesgoAlto?.length; else sinR">
          <div *ngFor="let socio of sociosRiesgoAlto" class="list-item text-white bg-black">
            <div>
              <div class="item-title">{{ socio.nombre }} {{ socio.apellido }}</div>
            
            </div>
            <div class="inasistencia-conteiner">

              <span class="badge bg-danger">{{ calcularRiesgoTotal(socio) }}%</span>
              <div class="acciones-socios">
                <button class="btn-detalle d-flex align-items-center gap-1 btn-secondary" 
                          (click)="verSocio(socio.id)">
                    <i class="bi bi-eye"></i>
                    Ver socio
                  </button>
              </div>

            </div>
          </div>
        </div>

        <ng-template #sinR>
          <p class="empty-text">No hay socios en riesgo</p>
        </ng-template>
      </div>

      <!-- ===============================
       SOLICITUDES DE RUTINA
  ================================ -->
      <div class="panel-box mb-4 text-black">
        <div class="d-flex justify-content-between align-items-center mb-1">
          <div class="panel-title">Solicitudes de rutinas</div>

          <div class="switch-group">
            <button class="btn-outline btn-secondary"
                    (click)="router.navigate(['/solicitudes-profesor'])">
              Ver todos
            </button>
          </div>
        </div>

        <div class="panel-sub mb-2">Total pendientes: {{ statsSolicitudes }}</div>

        <div *ngIf="solicitudesPendientes.length; else sinSol">
          <div *ngFor="let sol of solicitudesPendientes | slice:0:4" class="list-item">
            <div>
              <div class="item-title">{{ sol.nombreSocio }}</div>
              <div class="item-sub">Motivo: {{ sol.mensajeSocio || 'Sin mensaje' }}</div>
              <div class="item-sub">{{ sol.fechaSolicitud | date:'dd/MM/yyyy' }}</div>
            </div>
            <span class="badge bg-primary">Pendiente</span>
          </div>
        </div>

        <ng-template #sinSol>
          <p class="empty-text">No hay solicitudes pendientes</p>
        </ng-template>
      </div>

    </div> <!-- FIN COLUMNA IZQUIERDA -->
    <!-- ==========================================================
         SIDEBAR DERECHO (CALENDARIO + ACTIVIDAD)
    =========================================================== -->
    <div class="col-md-4 sidebar-right">

      <!-- CALENDARIO -->
      <div class="panel-box small-calendar-box mb-3">
        <div class="panel-title mb-2">Calendario</div>

        <div class="calendar-nav mb-2 d-flex justify-content-between align-items-center ">
          <button class="btn btn-dark btn-sm" (click)="mesAnterior()">‹</button>
          <strong class="text-black">{{ mesActualNombre }} {{ anioActual }}</strong>
          <button class="btn btn-dark btn-sm" (click)="mesSiguiente()">›</button>
        </div>

        <div class="calendar-grid small-calendar bg-dark">
          <div class="day-header" *ngFor="let d of diasSemana">{{ d }}</div>

          <div class="day-cell"
               *ngFor="let day of diasCalendario"
               (click)="seleccionarDia(day)"
               [class.today]="day.esHoy">
            {{ day.numero }}
          </div>
        </div>
      </div>

      <!-- ACTIVIDAD EN TIEMPO REAL (MAPA + LISTA) -->
      <div class="panel-box activity-panel mb-0 text-black">

        <div class="activity-header d-flex justify-content-between align-items-center">
          <div>
            <div class="panel-title text-white">Actividad en tiempo real</div>
            <div class="panel-sub text-white">Ingresos y egresos del gimnasio</div>
          </div>

          <span class="activity-pill">
            ● En vivo
          </span>
        </div>

        <div class="activity-content">

          <!-- MAPA -->
          <div class="activity-map">
            <div class="activity-map-header">
              <span class="map-label">Personas dentro</span>
              <span class="map-count">{{ personasDentro }}</span>
            </div>

            <!-- PINS -->
            <div *ngFor="let p of pins"
                 class="activity-pin-real"
                 [style.top.%]="p.top"
                 [style.left.%]="p.left">

              <img [src]="p.foto" class="pin-foto">

              <div class="pin-tooltip text-black">
                {{ p.nombre }}<br>
                <small>{{ p.hora | date:'HH:mm' }}</small>
              </div>
            </div>
          </div>

          <!-- LISTA -->
          <div class="activity-list text-black">
            <div class="ocupacion-item"
                 *ngFor="let o of ocupacion | slice:0:6">
              <div class="d-flex align-items-center">
                <img [src]="o.foto" class="header-foto">
                <div class="ms-2">
                  <strong class="activity-name">{{ o.nombre }}</strong><br>
                  <small class="activity-time">{{ o.fecha | date:'HH:mm' }}</small>
                </div>
              </div>

              <span class="badge activity-badge"
                    [ngClass]="o.tipo === 'entrada' ? 'badge-entrada' : 'badge-salida'">
                {{ o.tipo === 'entrada' ? 'Entrada' : 'Salida' }}
              </span>
            </div>
          </div>

        </div>
      </div>

    </div> <!-- FIN SIDEBAR DERECHO -->

  </div> <!-- FIN ROW -->
</div> <!-- FIN CONTAINER -->
