<div class="visitante-home__infosection">
  <app-visitante-home-infocard
    imagenSrc="assets/img/barra-gym.png"
    titulo="Rutinas Personalizadas"
    descripcion="Accede a rutinas de entrenamiento personalizadas según tus objetivos."
  ></app-visitante-home-infocard>
  <app-visitante-home-infocard
    imagenSrc="assets/img/clasificacion.png"
    titulo="Sistema de Ranking"
    descripcion="Compite con otros usuarios y mejora tu posición en el ranking."
  ></app-visitante-home-infocard>
  <app-visitante-home-infocard
    imagenSrc="assets/img/mentoria.png"
    titulo="Mentoría y Soporte"
    descripcion="Recibe asesoramiento de expertos en fitness."
  ></app-visitante-home-infocard>
</div>
