<div class="pago-exitoso-container">

  <div class="mensaje-box">

    <h2 class="titulo">¡Pago exitoso! 💜</h2>
    <h2 class="subtitulo">Revisá tu correo para poder acceder a nuestra plataforma</h2>
    <!-- MENSAJE PARA SOCIO -->
    <p *ngIf="!esAdmin" class="subtitulo">
      Gracias por tu pago.<br />
      Revisá tu correo para acceder a tu pase FitRank.
    </p>

    <!-- MENSAJE PARA ADMIN -->
    <div *ngIf="esAdmin" class="admin-detalles">
      <p class="subtitulo">
        ✔ Pago acreditado correctamente.<br />
        ✔ Correo enviado exitosamente.<br />
        ✔ Ingreso registrado en el sistema.
      </p>

      <button class="btn-volver" (click)="volver()">
        Volver al panel
      </button>
    </div>

  </div>

</div>
