.visitante-home__footer {
    background-color: var(--color-acento-secundario);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.visitante-home__footer_logo {
    filter: brightness(0) invert(1);
}


.visitante-home__footer__contenedorDeBloques {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
}

.visitante-home__footer_bloque {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px 20px;
    gap: 10px;
    max-width: 300px;
}

.visitante-home__footer_contenedorRedes {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.visitante-home__footer_redSocial i {
    color: #ffffff;
    font-size: 25px;
}

.visitante-home__footer_redSocial:hover i {
    color: var(--color-acento);
}

.visitante-home__footer_tituloBloque {
    font-weight: bold;
    margin: 0;
    text-align: start;
}

.visitante-home__footer_enlace {
    color: white;
    text-decoration: none;
    text-align: start;
}

.visitante-home__footer_enlace:hover {
    text-decoration: underline;
    color: var(--color-acento);
}

.visitante-home__footer_texto {
    margin: 0;
    text-align: start;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .visitante-home__footer__contenedorDeBloques {
        flex-direction: row;
        align-items: start;
    }
}